.logo.project-borongan-2 {
  justify-content: center;
  position: relative;
}

.logo .div-2 {
  position: relative;
}

.logo .seal {
  position: relative;
}

.logo .text {
  position: relative;
}

.logo .seal-2 {
  border-radius: 40px;
  position: relative;
}

.logo .overlap {
  position: relative;
}

.logo .overlap-group {
  position: absolute;
}

.logo .circle {
  left: 1px;
  position: absolute;
}

.logo .img {
  left: 0;
  position: absolute;
  top: 0;
}

.logo .flowroot {
  position: absolute;
}

.logo .flowroot-2 {
  position: absolute;
  width: 2px;
}

.logo .flowroot-3 {
  position: absolute;
}

.logo .text-2 {
  left: 0;
  position: absolute;
}

.logo .g {
  background-size: 100% 100%;
  position: absolute;
}

.logo .overlap-2 {
  position: relative;
}

.logo .g-2 {
  position: absolute;
}

.logo .path {
  left: 0;
  position: absolute;
}

.logo .path-2 {
  left: 0;
  position: absolute;
  top: 0;
}

.logo .g-3 {
  left: 2px;
  position: absolute;
  top: 1px;
}

.logo .overlap-wrapper {
  left: 0;
  position: absolute;
}

.logo .overlap-3 {
  position: relative;
}

.logo .g-4 {
  left: 1px;
  position: absolute;
}

.logo .path-3 {
  left: 0;
  position: absolute;
}

.logo .path-4 {
  left: 0;
  position: absolute;
}

.logo .path-5 {
  left: 0;
  position: absolute;
}

.logo .path-6 {
  left: 0;
  position: absolute;
}

.logo .overlap-group-wrapper {
  position: absolute;
}

.logo .overlap-4 {
  position: relative;
}

.logo .g-5 {
  height: 1px;
  left: 0;
  position: absolute;
}

.logo .div-wrapper {
  left: 0;
  position: absolute;
  top: 0;
}

.logo .overlap-5 {
  position: relative;
}

.logo .g-6 {
  left: 0;
  position: absolute;
  top: 0;
}

.logo .overlap-6 {
  position: relative;
}

.logo .g-7 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 1px;
}

.logo .g-8 {
  left: 0;
  position: absolute;
  top: 0;
}

.logo .overlap-group-2 {
  position: relative;
}

.logo .g-9 {
  left: 1px;
  position: absolute;
}

.logo .path-7 {
  position: absolute;
  top: 0;
}

.logo .path-8 {
  position: absolute;
  top: 0;
}

.logo .g-10 {
  position: absolute;
  top: 2px;
}

.logo .g-11 {
  height: 1px;
  position: absolute;
  width: 1px;
}

.logo .g-12 {
  height: 1px;
  position: absolute;
  width: 1px;
}

.logo .path-9 {
  left: 1px;
  position: absolute;
}

.logo .path-10 {
  left: 1px;
  position: absolute;
}

.logo .path-11 {
  position: absolute;
}

.logo .g-13 {
  height: 1px;
  position: absolute;
}

.logo .path-12 {
  left: 1px;
  position: absolute;
  top: 0;
}

.logo .g-14 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 1px;
}

.logo .g-15 {
  height: 1px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 1px;
}

.logo .rect {
  left: 1px;
  position: absolute;
}

.logo .path-13 {
  height: 1px;
  left: 2px;
  position: absolute;
}

.logo .g-16 {
  position: absolute;
}

.logo .g-17 {
  position: absolute;
  top: 0;
}

.logo .g-18 {
  position: absolute;
}

.logo .path-14 {
  left: 0;
  position: absolute;
  top: 0;
}

.logo .path-15 {
  position: absolute;
}

.logo .path-16 {
  position: absolute;
}

.logo .text-3 {
  flex: 0 0 auto;
  position: relative;
}

.logo .layer-wrapper {
  height: 60px;
}

.logo .layer {
  height: 59px;
  width: 59px;
}

.logo .g-19 {
  height: 59px;
}

.logo .overlap-7 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/path18984-7-4.svg);
  background-size: 100% 100%;
  height: 60px;
  position: relative;
  width: 60px;
}

.logo .overlap-8 {
  height: 57px;
  left: 6px;
  position: absolute;
  top: 2px;
  width: 48px;
}

.logo .circle-2 {
  height: 45px;
  left: 1px;
  position: absolute;
  top: 6px;
  width: 45px;
}

.logo .text-4 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 47px;
}

.logo .flowroot-4 {
  height: 19px;
  left: 41px;
  position: absolute;
  top: 19px;
  width: 3px;
}

.logo .flowroot-5 {
  height: 3px;
  left: 23px;
  position: absolute;
  top: 10px;
  width: 3px;
}

.logo .flowroot-6 {
  height: 15px;
  left: 4px;
  position: absolute;
  top: 21px;
  width: 3px;
}

.logo .text-5 {
  height: 16px;
  left: 0;
  position: absolute;
  top: 41px;
  width: 48px;
}

.logo .g-20 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/path9938-4.svg);
  background-size: 100% 100%;
  height: 33px;
  left: 8px;
  position: absolute;
  top: 14px;
  width: 32px;
}

.logo .overlap-9 {
  height: 34px;
  position: relative;
}

.logo .g-21 {
  height: 12px;
  left: 18px;
  position: absolute;
  top: 1px;
  width: 11px;
}

.logo .path-17 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 32px;
}

.logo .path-18 {
  height: 13px;
  left: 0;
  position: absolute;
  top: 0;
  width: 16px;
}

.logo .g-22 {
  height: 12px;
  left: 3px;
  position: absolute;
  top: 1px;
  width: 11px;
}

.logo .g-23 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 32px;
}

.logo .overlap-10 {
  height: 20px;
  position: relative;
}

.logo .g-24 {
  height: 5px;
  left: 2px;
  position: absolute;
  top: 9px;
  width: 26px;
}

.logo .path-19 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 32px;
}

.logo .path-20 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 20px;
}

.logo .path-21 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 20px;
}

.logo .path-22 {
  height: 5px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 20px;
}

.logo .g-25 {
  height: 7px;
  left: 10px;
  position: absolute;
  top: 12px;
  width: 8px;
}

.logo .overlap-11 {
  height: 7px;
  position: relative;
}

.logo .g-26 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 5px;
  width: 8px;
}

.logo .g-27 {
  height: 7px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

.logo .g-28 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 8px;
}

.logo .overlap-group-3 {
  height: 6px;
  position: relative;
}

.logo .g-29 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 4px;
  width: 2px;
}

.logo .path-23 {
  height: 3px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 2px;
}

.logo .g-30 {
  height: 3px;
  left: 4px;
  position: absolute;
  top: 3px;
  width: 2px;
}

.logo .g-31 {
  height: 1px;
  left: 6px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.logo .g-32 {
  height: 1px;
  left: 2px;
  position: absolute;
  top: 5px;
  width: 1px;
}

.logo .path-24 {
  height: 4px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 6px;
}

.logo .path-25 {
  height: 4px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 5px;
}

.logo .g-33 {
  height: 1px;
  left: 2px;
  position: absolute;
  top: 3px;
  width: 4px;
}

.logo .path-26 {
  height: 6px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 6px;
}

.logo .g-34 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 3px;
}

.logo .rect-2 {
  height: 2px;
  left: 1px;
  position: absolute;
  top: 5px;
  width: 6px;
}

.logo .path-27 {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 5px;
  width: 5px;
}

.logo .g-35 {
  height: 7px;
  left: 2px;
  position: absolute;
  top: 9px;
  width: 7px;
}

.logo .g-36 {
  height: 15px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 11px;
}

.logo .g-37 {
  height: 12px;
  left: 20px;
  position: absolute;
  top: 8px;
  width: 11px;
}

.logo .path-28 {
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.logo .path-29 {
  height: 4px;
  left: 2px;
  position: absolute;
  top: 29px;
  width: 4px;
}

.logo .path-30 {
  height: 4px;
  left: 54px;
  position: absolute;
  top: 29px;
  width: 4px;
}

.logo .seal-3 {
  height: 60px;
  left: -19px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 98px;
}

.logo .seal-4 {
  position: relative;
}

.logo.project-calamba-type {
  left: 0;
  position: absolute;
  top: 0;
}

.logo.smart-LGU {
  display: flex;
}

.logo.lipa {
  display: flex;
}

.logo.type-7-ads {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 56px;
  width: 320px;
}

.logo.smart-city {
  display: flex;
}

.logo.solano {
  display: flex;
}

.logo.bayombong {
  display: flex;
}

.logo.type-7-seal {
  align-items: center;
  display: flex;
  gap: 8px;
  height: 60px;
  width: 120px;
}

.logo.calamba {
  display: flex;
}

.logo.cauayan {
  display: flex;
}

.logo.e-GMP-colored {
  display: flex;
}

.logo.las-pi-as {
  display: flex;
}

.logo.type-7-default {
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.logo.bohol {
  display: flex;
}

.logo.borongan {
  display: flex;
}

.logo.e-GMP-white {
  display: flex;
}

.logo.manila {
  display: flex;
}

.logo.type-7-default.borongan {
  width: 200px;
}

.logo.type-7-default.e-GMP-colored {
  width: 200px;
}

.logo.type-7-default.cauayan {
  width: 200px;
}

.logo.type-7-default.manila {
  width: 200px;
}

.logo.e-GMP-white.type-7-default {
  width: 200px;
}

.logo.type-7-default.bohol {
  width: 200px;
}

.logo.type-7-default.catarman {
  display: inline-flex;
}

.logo.type-7-default.solano {
  width: 200px;
}

.logo.type-7-default.las-pi-as {
  width: 200px;
}

.logo.lipa.type-7-default {
  width: 200px;
}

.logo.type-7-default.bayombong.white {
  width: 228px;
}

.logo.type-7-default.bayombong.colored {
  width: 221px;
}

.logo.type-66-seal {
  height: 60px;
  width: 120px;
}

.logo.type-66-ads {
  height: 56px;
  width: 320px;
}

.logo.type-66-default {
  height: 40px;
  width: 200px;
}

.project-borongan-2.type-7-seal .div-2 {
  height: 60px;
  width: 60px;
}

.project-borongan-2.type-7-default .div-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.project-borongan-2.type-7-ads .div-2 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
}

.project-borongan-2.bohol.type-7-seal .div-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/talibon-bohol-logo-1-4@2x.png);
  background-size: 100% 100%;
  border-radius: 40px;
}

.project-borongan-2.type-7-seal.solano .div-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-43@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 40px;
}

.project-borongan-2.bayombong.type-7-seal .div-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-51@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 40px;
}

.project-borongan-2.lipa.type-7-seal .div-2 {
  border-radius: 40px;
  overflow: hidden;
}

.project-borongan-2.cauayan.type-7-seal .div-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/logo-4@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 40px;
}

.project-borongan-2.type-7-seal.catarman .div-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-41@2x.png);
  background-size: 100% 100%;
  border-radius: 40px;
}

.project-borongan-2.las-pi-as.type-7-seal .div-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-42@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 40px;
}

.project-borongan-2.smart-LGU .seal {
  width: 40px;
}

.project-borongan-2.type-7-seal .seal {
  height: 40px;
  width: 40px;
}

.project-borongan-2.bayombong .seal {
  width: 40px;
}

.project-borongan-2.calamba .seal {
  width: 40px;
}

.project-borongan-2.lipa .seal {
  width: 40px;
}

.project-borongan-2.type-7-default .seal {
  height: 40px;
}

.project-borongan-2.type-7-ads .seal {
  height: 56px;
}

.project-borongan-2.smart-city .seal {
  width: 40px;
}

.project-borongan-2.solano .seal {
  width: 40px;
}

.project-borongan-2.bohol .seal {
  width: 40px;
}

.project-borongan-2.catarman .seal {
  width: 40px;
}

.project-borongan-2.cauayan .seal {
  width: 40px;
}

.project-borongan-2.las-pi-as .seal {
  width: 40px;
}

.project-borongan-2.type-7-default.borongan .seal {
  width: 40px;
}

.project-borongan-2.type-7-default.e-GMP-colored .seal {
  width: 88px;
}

.project-borongan-2.type-7-default.manila .seal {
  width: 40px;
}

.project-borongan-2.e-GMP-white.type-7-default .seal {
  width: 88px;
}

.project-borongan-2.e-GMP-white.type-7-ads .seal {
  width: 123.2px;
}

.project-borongan-2.e-GMP-colored.type-7-ads .seal {
  width: 123.2px;
}

.project-borongan-2.manila.type-7-ads .seal {
  width: 56px;
}

.project-borongan-2.borongan.type-7-ads .seal {
  width: 56px;
}

.project-borongan-2.manila .text {
  flex: 0 0 auto;
}

.project-borongan-2.borongan .text {
  flex: 0 0 auto;
}

.project-borongan-2.type-7-default.e-GMP-colored .text {
  height: 34px;
  width: 100.6px;
}

.project-borongan-2.e-GMP-white.type-7-default .text {
  height: 34px;
  width: 100.6px;
}

.project-borongan-2.e-GMP-white.type-7-ads .text {
  height: 56px;
  width: 165.69px;
}

.project-borongan-2.e-GMP-colored.type-7-ads .text {
  height: 56px;
  width: 165.69px;
}

.project-borongan-2.type-7-seal .seal-2 {
  height: 40px;
  width: 40px;
}

.project-borongan-2.bayombong .seal-2 {
  background-position: 50% 50%;
  background-size: cover;
}

.project-borongan-2.lipa .seal-2 {
  overflow: hidden;
}

.project-borongan-2.type-7-default .seal-2 {
  height: 40px;
  width: 40px;
}

.project-borongan-2.type-7-ads .seal-2 {
  height: 56px;
  width: 56px;
}

.project-borongan-2.solano .seal-2 {
  background-position: 50% 50%;
  background-size: cover;
}

.project-borongan-2.bohol .seal-2 {
  background-size: 100% 100%;
}

.project-borongan-2.catarman .seal-2 {
  background-size: 100% 100%;
}

.project-borongan-2.cauayan .seal-2 {
  background-position: 50% 50%;
  background-size: cover;
}

.project-borongan-2.las-pi-as .seal-2 {
  background-position: 50% 50%;
  background-size: cover;
}

.project-borongan-2.las-pi-as.type-7-ads .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-32@2x.png);
}

.project-borongan-2.type-7-default.cauayan .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/logo-1@2x.png);
}

.project-borongan-2.catarman.type-7-ads .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-31@2x.png);
}

.project-borongan-2.solano.type-7-ads .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-33@2x.png);
}

.project-borongan-2.bayombong.type-7-ads .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-50@2x.png);
}

.project-borongan-2.type-7-default.bohol .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/talibon-bohol-logo-1-1@2x.png);
}

.project-borongan-2.type-7-default.bayombong .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-48@2x.png);
}

.project-borongan-2.type-7-default.catarman .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-10@2x.png);
}

.project-borongan-2.type-7-default.solano .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-19@2x.png);
}

.project-borongan-2.type-7-default.las-pi-as .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/seal-18@2x.png);
}

.project-borongan-2.bohol.type-7-ads .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/talibon-bohol-logo-1-3@2x.png);
}

.project-borongan-2.cauayan.type-7-ads .seal-2 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/logo-3@2x.png);
}

.project-borongan-2.type-7-seal .logo-2 {
  height: 40px;
}

.project-borongan-2.type-7-ads .logo-2 {
  height: 56px;
}

.project-borongan-2.type-7-default .logo-2 {
  height: 40px;
}

.project-borongan-2.type-7-seal .g-wrapper {
  height: 40px;
  width: 40px;
}

.project-borongan-2.type-7-ads .g-wrapper {
  height: 55px;
  width: 55px;
}

.project-borongan-2.type-7-default .g-wrapper {
  height: 40px;
  width: 40px;
}

.project-borongan-2.type-7-seal .g-38 {
  height: 40px;
}

.project-borongan-2.type-7-ads .g-38 {
  height: 55px;
}

.project-borongan-2.type-7-default .g-38 {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/path18984-7-1.svg);
  background-size: 100% 100%;
  height: 40px;
}

.project-borongan-2.type-7-seal .overlap {
  height: 38px;
  width: 38px;
}

.project-borongan-2.type-7-ads .overlap {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/path18984-7-3.svg);
  background-size: 100% 100%;
  height: 56px;
  width: 56px;
}

.project-borongan-2.type-7-default .overlap {
  height: 38px;
  left: 1px;
  top: 1px;
  width: 38px;
}

.project-borongan-2.type-7-seal .overlap-group {
  height: 38px;
  left: 3px;
  top: 0;
  width: 32px;
}

.project-borongan-2.type-7-ads .overlap-group {
  height: 53px;
  left: 5px;
  top: 1px;
  width: 45px;
}

.project-borongan-2.type-7-default .overlap-group {
  height: 38px;
  left: 3px;
  top: 0;
  width: 32px;
}

.project-borongan-2.type-7-seal .circle {
  height: 30px;
  top: 4px;
  width: 30px;
}

.project-borongan-2.type-7-ads .circle {
  height: 42px;
  top: 5px;
  width: 42px;
}

.project-borongan-2.type-7-default .circle {
  height: 30px;
  top: 4px;
  width: 30px;
}

.project-borongan-2.type-7-seal .img {
  height: 11px;
  width: 32px;
}

.project-borongan-2.type-7-ads .img {
  height: 16px;
  width: 44px;
}

.project-borongan-2.type-7-default .img {
  height: 11px;
  width: 32px;
}

.project-borongan-2.type-7-seal .flowroot {
  height: 13px;
  left: 27px;
  top: 13px;
  width: 2px;
}

.project-borongan-2.type-7-ads .flowroot {
  height: 18px;
  left: 38px;
  top: 18px;
  width: 3px;
}

.project-borongan-2.type-7-default .flowroot {
  height: 13px;
  left: 27px;
  top: 13px;
  width: 2px;
}

.project-borongan-2.type-7-seal .flowroot-2 {
  height: 2px;
  left: 15px;
  top: 6px;
}

.project-borongan-2.type-7-ads .flowroot-2 {
  height: 3px;
  left: 21px;
  top: 9px;
}

.project-borongan-2.type-7-default .flowroot-2 {
  height: 2px;
  left: 15px;
  top: 6px;
}

.project-borongan-2.type-7-seal .flowroot-3 {
  height: 10px;
  left: 3px;
  top: 14px;
  width: 2px;
}

.project-borongan-2.type-7-ads .flowroot-3 {
  height: 14px;
  left: 4px;
  top: 20px;
  width: 3px;
}

.project-borongan-2.type-7-default .flowroot-3 {
  height: 10px;
  left: 3px;
  top: 14px;
  width: 2px;
}

.project-borongan-2.type-7-seal .text-2 {
  height: 11px;
  top: 27px;
  width: 32px;
}

.project-borongan-2.type-7-ads .text-2 {
  height: 15px;
  top: 38px;
  width: 45px;
}

.project-borongan-2.type-7-default .text-2 {
  height: 11px;
  top: 27px;
  width: 32px;
}

.project-borongan-2.type-7-seal .g {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/path9938-1.svg);
  height: 22px;
  left: 5px;
  top: 9px;
  width: 21px;
}

.project-borongan-2.type-7-ads .g {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/path9938-3.svg);
  height: 31px;
  left: 7px;
  top: 13px;
  width: 30px;
}

.project-borongan-2.type-7-default .g {
  background-image: url(https://generation-sessions.s3.amazonaws.com/3de0ef6a066eb0057d666ef0890ab084/img/path9938-1.svg);
  height: 22px;
  left: 5px;
  top: 9px;
  width: 21px;
}

.project-borongan-2.type-7-seal .overlap-2 {
  height: 22px;
}

.project-borongan-2.type-7-ads .overlap-2 {
  height: 31px;
}

.project-borongan-2.type-7-default .overlap-2 {
  height: 22px;
  width: 22px;
}

.project-borongan-2.type-7-seal .g-2 {
  height: 8px;
  left: 12px;
  top: 0;
  width: 8px;
}

.project-borongan-2.type-7-ads .g-2 {
  height: 11px;
  left: 17px;
  top: 1px;
  width: 11px;
}

.project-borongan-2.type-7-default .g-2 {
  height: 8px;
  left: 12px;
  top: 0;
  width: 8px;
}

.project-borongan-2.type-7-seal .path {
  height: 13px;
  top: 9px;
  width: 21px;
}

.project-borongan-2.type-7-ads .path {
  height: 19px;
  top: 13px;
  width: 30px;
}

.project-borongan-2.type-7-default .path {
  height: 13px;
  top: 9px;
  width: 21px;
}

.project-borongan-2.type-7-seal .path-2 {
  height: 9px;
  width: 11px;
}

.project-borongan-2.type-7-ads .path-2 {
  height: 12px;
  width: 15px;
}

.project-borongan-2.type-7-default .path-2 {
  height: 9px;
  width: 11px;
}

.project-borongan-2.type-7-seal .g-3 {
  height: 8px;
  width: 8px;
}

.project-borongan-2.type-7-ads .g-3 {
  height: 11px;
  width: 11px;
}

.project-borongan-2.type-7-default .g-3 {
  height: 8px;
  width: 8px;
}

.project-borongan-2.type-7-seal .overlap-wrapper {
  height: 13px;
  top: 9px;
  width: 21px;
}

.project-borongan-2.type-7-ads .overlap-wrapper {
  height: 18px;
  top: 13px;
  width: 30px;
}

.project-borongan-2.type-7-default .overlap-wrapper {
  height: 13px;
  top: 9px;
  width: 21px;
}

.project-borongan-2.type-7-seal .overlap-3 {
  height: 13px;
}

.project-borongan-2.type-7-ads .overlap-3 {
  height: 18px;
}

.project-borongan-2.type-7-default .overlap-3 {
  height: 13px;
}

.project-borongan-2.type-7-seal .g-4 {
  height: 3px;
  top: 6px;
  width: 17px;
}

.project-borongan-2.type-7-ads .g-4 {
  height: 4px;
  top: 8px;
  width: 24px;
}

.project-borongan-2.type-7-default .g-4 {
  height: 3px;
  top: 6px;
  width: 17px;
}

.project-borongan-2.type-7-seal .path-3 {
  height: 5px;
  top: 8px;
  width: 21px;
}

.project-borongan-2.type-7-ads .path-3 {
  height: 6px;
  top: 12px;
  width: 30px;
}

.project-borongan-2.type-7-default .path-3 {
  height: 5px;
  top: 8px;
  width: 21px;
}

.project-borongan-2.type-7-seal .path-4 {
  height: 4px;
  top: 9px;
  width: 14px;
}

.project-borongan-2.type-7-ads .path-4 {
  height: 6px;
  top: 12px;
  width: 19px;
}

.project-borongan-2.type-7-default .path-4 {
  height: 4px;
  top: 9px;
  width: 14px;
}

.project-borongan-2.type-7-seal .path-5 {
  height: 4px;
  top: 9px;
  width: 13px;
}

.project-borongan-2.type-7-ads .path-5 {
  height: 5px;
  top: 13px;
  width: 19px;
}

.project-borongan-2.type-7-default .path-5 {
  height: 4px;
  top: 9px;
  width: 13px;
}

.project-borongan-2.type-7-seal .path-6 {
  height: 3px;
  top: 9px;
  width: 13px;
}

.project-borongan-2.type-7-ads .path-6 {
  height: 5px;
  top: 13px;
  width: 19px;
}

.project-borongan-2.type-7-default .path-6 {
  height: 3px;
  top: 9px;
  width: 13px;
}

.project-borongan-2.type-7-seal .overlap-group-wrapper {
  height: 4px;
  left: 6px;
  top: 8px;
  width: 5px;
}

.project-borongan-2.type-7-ads .overlap-group-wrapper {
  height: 6px;
  left: 9px;
  top: 11px;
  width: 7px;
}

.project-borongan-2.type-7-default .overlap-group-wrapper {
  height: 4px;
  left: 6px;
  top: 8px;
  width: 5px;
}

.project-borongan-2.type-7-seal .overlap-4 {
  height: 4px;
}

.project-borongan-2.type-7-ads .overlap-4 {
  height: 6px;
}

.project-borongan-2.type-7-default .overlap-4 {
  height: 4px;
}

.project-borongan-2.type-7-seal .g-5 {
  top: 3px;
  width: 5px;
}

.project-borongan-2.type-7-ads .g-5 {
  top: 5px;
  width: 7px;
}

.project-borongan-2.type-7-default .g-5 {
  top: 3px;
  width: 5px;
}

.project-borongan-2.type-7-seal .div-wrapper {
  height: 4px;
  width: 5px;
}

.project-borongan-2.type-7-ads .div-wrapper {
  height: 6px;
  width: 7px;
}

.project-borongan-2.type-7-default .div-wrapper {
  height: 4px;
  width: 5px;
}

.project-borongan-2.type-7-seal .overlap-5 {
  height: 5px;
}

.project-borongan-2.type-7-ads .overlap-5 {
  height: 6px;
}

.project-borongan-2.type-7-default .overlap-5 {
  height: 5px;
}

.project-borongan-2.type-7-seal .g-6 {
  height: 4px;
  width: 5px;
}

.project-borongan-2.type-7-ads .g-6 {
  height: 6px;
  width: 7px;
}

.project-borongan-2.type-7-default .g-6 {
  height: 4px;
  width: 5px;
}

.project-borongan-2.type-7-seal .overlap-6 {
  height: 4px;
}

.project-borongan-2.type-7-ads .overlap-6 {
  height: 6px;
}

.project-borongan-2.type-7-default .overlap-6 {
  height: 4px;
}

.project-borongan-2.type-7-seal .g-8 {
  height: 4px;
  width: 5px;
}

.project-borongan-2.type-7-ads .g-8 {
  height: 6px;
  width: 7px;
}

.project-borongan-2.type-7-default .g-8 {
  height: 4px;
  width: 5px;
}

.project-borongan-2.type-7-seal .overlap-group-2 {
  height: 5px;
}

.project-borongan-2.type-7-ads .overlap-group-2 {
  height: 6px;
}

.project-borongan-2.type-7-default .overlap-group-2 {
  height: 5px;
}

.project-borongan-2.type-7-seal .g-9 {
  height: 1px;
  top: 2px;
  width: 1px;
}

.project-borongan-2.type-7-ads .g-9 {
  height: 2px;
  top: 3px;
  width: 2px;
}

.project-borongan-2.type-7-default .g-9 {
  height: 1px;
  top: 2px;
  width: 1px;
}

.project-borongan-2.type-7-seal .path-7 {
  height: 2px;
  left: 4px;
  width: 1px;
}

.project-borongan-2.type-7-ads .path-7 {
  height: 3px;
  left: 5px;
  width: 2px;
}

.project-borongan-2.type-7-default .path-7 {
  height: 2px;
  left: 4px;
  width: 1px;
}

.project-borongan-2.type-7-seal .path-8 {
  height: 2px;
  left: 4px;
  width: 1px;
}

.project-borongan-2.type-7-ads .path-8 {
  height: 3px;
  left: 5px;
  width: 2px;
}

.project-borongan-2.type-7-default .path-8 {
  height: 2px;
  left: 4px;
  width: 1px;
}

.project-borongan-2.type-7-seal .g-10 {
  height: 2px;
  left: 3px;
  width: 1px;
}

.project-borongan-2.type-7-ads .g-10 {
  height: 3px;
  left: 4px;
  width: 2px;
}

.project-borongan-2.type-7-default .g-10 {
  height: 2px;
  left: 3px;
  width: 1px;
}

.project-borongan-2.type-7-seal .g-11 {
  left: 4px;
  top: 4px;
}

.project-borongan-2.type-7-ads .g-11 {
  left: 6px;
  top: 5px;
}

.project-borongan-2.type-7-default .g-11 {
  left: 4px;
  top: 4px;
}

.project-borongan-2.type-7-seal .g-12 {
  left: 1px;
  top: 4px;
}

.project-borongan-2.type-7-ads .g-12 {
  left: 2px;
  top: 5px;
}

.project-borongan-2.type-7-default .g-12 {
  left: 1px;
  top: 4px;
}

.project-borongan-2.type-7-seal .path-9 {
  height: 3px;
  top: 1px;
  width: 4px;
}

.project-borongan-2.type-7-ads .path-9 {
  height: 4px;
  top: 2px;
  width: 6px;
}

.project-borongan-2.type-7-default .path-9 {
  height: 3px;
  top: 1px;
  width: 4px;
}

.project-borongan-2.type-7-seal .path-10 {
  height: 3px;
  top: 1px;
  width: 4px;
}

.project-borongan-2.type-7-ads .path-10 {
  height: 4px;
  top: 2px;
  width: 5px;
}

.project-borongan-2.type-7-default .path-10 {
  height: 3px;
  top: 1px;
  width: 4px;
}

.project-borongan-2.type-7-seal .path-11 {
  height: 2px;
  left: 1px;
  top: 1px;
  width: 3px;
}

.project-borongan-2.type-7-ads .path-11 {
  height: 3px;
  left: 2px;
  top: 2px;
  width: 5px;
}

.project-borongan-2.type-7-default .path-11 {
  height: 2px;
  left: 1px;
  top: 1px;
  width: 3px;
}

.project-borongan-2.type-7-seal .g-13 {
  left: 1px;
  top: 2px;
  width: 2px;
}

.project-borongan-2.type-7-ads .g-13 {
  left: 2px;
  top: 3px;
  width: 3px;
}

.project-borongan-2.type-7-default .g-13 {
  left: 1px;
  top: 2px;
  width: 2px;
}

.project-borongan-2.type-7-seal .path-12 {
  height: 4px;
  width: 4px;
}

.project-borongan-2.type-7-ads .path-12 {
  height: 5px;
  width: 6px;
}

.project-borongan-2.type-7-default .path-12 {
  height: 4px;
  width: 4px;
}

.project-borongan-2.type-7-seal .g-14 {
  width: 2px;
}

.project-borongan-2.type-7-ads .g-14 {
  width: 3px;
}

.project-borongan-2.type-7-default .g-14 {
  width: 2px;
}

.project-borongan-2.type-7-seal .rect {
  height: 1px;
  top: 3px;
  width: 4px;
}

.project-borongan-2.type-7-ads .rect {
  height: 2px;
  top: 5px;
  width: 6px;
}

.project-borongan-2.type-7-default .rect {
  height: 1px;
  top: 3px;
  width: 4px;
}

.project-borongan-2.type-7-seal .path-13 {
  top: 4px;
  width: 3px;
}

.project-borongan-2.type-7-ads .path-13 {
  top: 5px;
  width: 4px;
}

.project-borongan-2.type-7-default .path-13 {
  top: 4px;
  width: 3px;
}

.project-borongan-2.type-7-seal .g-16 {
  height: 7px;
  left: 1px;
  top: 6px;
  width: 9px;
}

.project-borongan-2.type-7-ads .g-16 {
  height: 6px;
  left: 2px;
  top: 9px;
  width: 7px;
}

.project-borongan-2.type-7-default .g-16 {
  height: 7px;
  left: 1px;
  top: 6px;
  width: 9px;
}

.project-borongan-2.type-7-seal .g-17 {
  height: 10px;
  left: 13px;
  width: 7px;
}

.project-borongan-2.type-7-ads .g-17 {
  height: 14px;
  left: 18px;
  width: 10px;
}

.project-borongan-2.type-7-default .g-17 {
  height: 10px;
  left: 13px;
  width: 7px;
}

.project-borongan-2.type-7-seal .g-18 {
  height: 8px;
  left: 13px;
  top: 5px;
  width: 8px;
}

.project-borongan-2.type-7-ads .g-18 {
  height: 11px;
  left: 18px;
  top: 7px;
  width: 11px;
}

.project-borongan-2.type-7-default .g-18 {
  height: 8px;
  left: 13px;
  top: 5px;
  width: 8px;
}

.project-borongan-2.type-7-seal .path-14 {
  height: 22px;
  width: 22px;
}

.project-borongan-2.type-7-ads .path-14 {
  height: 31px;
  width: 30px;
}

.project-borongan-2.type-7-default .path-14 {
  height: 22px;
  width: 22px;
}

.project-borongan-2.type-7-seal .path-15 {
  height: 3px;
  left: 0;
  top: 19px;
  width: 3px;
}

.project-borongan-2.type-7-ads .path-15 {
  height: 4px;
  left: 1px;
  top: 28px;
  width: 4px;
}

.project-borongan-2.type-7-default .path-15 {
  height: 3px;
  left: 0;
  top: 19px;
  width: 3px;
}

.project-borongan-2.type-7-seal .path-16 {
  height: 3px;
  left: 35px;
  top: 19px;
  width: 3px;
}

.project-borongan-2.type-7-ads .path-16 {
  height: 4px;
  left: 50px;
  top: 28px;
  width: 4px;
}

.project-borongan-2.type-7-default .path-16 {
  height: 3px;
  left: 35px;
  top: 19px;
  width: 3px;
}

.project-borongan-2.type-7-seal .seal-4 {
  height: 60px;
  width: 60px;
}

.project-borongan-2.type-7-ads .seal-4 {
  height: 56px;
  object-fit: cover;
  width: 91.13px;
}

.project-borongan-2.type-7-default .seal-4 {
  height: 40px;
  object-fit: cover;
  width: 65.09px;
}
